$cor1: rgb(196, 235, 214);
$cor2: rgb(131, 225, 173);
$cor3: rgb(47, 168, 102);
$cor4: rgb(26, 91, 54);
$cor5: rgb(6, 61, 30);
$cor6: rgb(229, 231, 166);

@font-face {
    font-family: "bebas";
    src: url(../fontes/BebasNeue-Regular.otf);
}
@font-face {
    font-family: "droid";
    src: url(../fontes/idroid.otf);
}
@mixin centralizar-texto{
    display: flex;
    justify-content: center;
    align-items: center;
}

*{
    margin: 0%;
    padding: 0%;
}
h1,h2,h3,h4,p{
    margin: 0px;
}
body{
    background-color: $cor6;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 375px;
    .topo{
        
        color: white;
        width: 100%;
        height: 180px;
        background-image: linear-gradient(180deg,$cor3,$cor4);
        display: flex;
        flex-direction:column;
        .texto{
            height: 150px;
            display: flex;
            flex-direction:column;
            .titulo{
                height: 90px;
                @include centralizar-texto;
                font-family: bebas;
            }
            .subtitulo{
                height: 60px;
                @include centralizar-texto;
                font-family: Helvetica, sans-serif;
            }
            h1,h3{
                text-align: center;
                text-shadow: 2px 2px 0px rgba(0,0,0,0.466);
            }
         }       
        .menu{ 
            height: 20px;
            display: flex;
            justify-content: flex-start;
                a{
                    margin: 0px 10px;
                    border-radius: 5px;
                    transition-duration: .3s;
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    font-family: Arial, Helvetica, sans-serif;
                    color: white;
                } 
                a:hover{
                    cursor: pointer; 
                    background-color: $cor1;
                    color: $cor4;
                }
        }           
    }
    .corpo{
        border-radius: 0px 0px 5px 5px;
        min-width: 375px;
        max-width: 1200px;
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.466);
        article{
            strong{
                color: $cor3;
                font-weight: bold;
            }
            a{
                color: $cor4;
                background-color: $cor1;
                text-decoration: none;
                padding: 2px 4px;
            }
            a:hover{
                color: $cor5;
                background-color: $cor2; 
            }
            a:after{
                content:'\0020\1f517' ;
            }
            h2,h3{
                margin: 20px 10px 0px 10px;
                font-family: droid;
                color: $cor3;
                text-indent: 10px;
            }
            h3{
                background-image: linear-gradient(90deg,$cor1,white);
            }
            p{
                text-indent: 30px;
                padding: 20px 10px ;
                text-align: justify;
                line-height: 1.5em;
            }
            .imagen{
                width: 100%;
                display: flex;
                justify-content: center;
                picture{
                    width: 95%;
                    img{
                        width: 100%;
                    }
                }
            }
            .imagen-pq {
                display: flex;
                justify-content: center;
                img{
                max-width: 350px;
                }
            }
            @media (min-width: 850px){
                .imagen picture img{
                    width: 100%;
                }
            }
            @media (max-width: 850px){
                .imagen{ 
                    display: flex;
                    justify-content: center;
                }
            }
            .vid{
                background-color: $cor5;
                padding: 5px;
                position: relative;
                padding-bottom: 56%;
                iframe{
                    position: absolute; 
                    top: 2%;
                    left: 2.5%;
                    width: 95%;
                    height: 95%;
                   }
            }
            aside{
                margin: 20px 10px 10px 10px;
                border-radius: 0px 0px 10px 10px;
                background-color: $cor1 ;
                strong,a{
                    color: $cor4;
                    font-weight: bold;
                }
                div{   
                    height: auto; 
                    margin-bottom: 20px;
                    h4{
                        text-shadow: 2px 2px 0px rgba(0,0,0,0.466);
                        padding: 10px;
                        background-color: $cor3;
                        font-family: Arial, Helvetica, sans-serif;
                        color: white;
                    }
                }
                ul{
                    margin: 0px 20px 20px 20px;
                    list-style-type: '\2714\0020\0020' ;
                    list-style-position: inside;
                    columns: 2;
                }
                p{
                    padding: 0px 10px 20px 10px;
                    font-family: "Arial, Helvetica, sans-serif" ;
                }
            }
        }
    }
    .rodape{
        width: 100%;
        background-color: $cor4;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        p{
            display: flex;
            text-align: center;    
            padding:20px;
            a{
                color: $cor2;
                text-decoration: none;
                padding: 2px 4px;
            }
            a:hover{
                color: $cor5;
                background-color: $cor2; 
            }
        }
    }
}    

